.contact_jumbotron {
    background: #00114E;
}
.contact{
    background: #FFFFFF;
}
.contact_card_details {
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    
}
.contact_card_phone {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #3E3E3E;
}
.contact_card{
    background: #F6FCFF;
    border-radius: 10px;
    border: none;
}
.contact_icon {
    text-align: center;
    padding-top:30px;
    padding-left:20px;
    
}
.box_icon{
    background: rgba(11, 224, 92, 0.5);
    padding:20px;
    border-radius: 8%;
}

.contact_flex {
    flex-direction: column;
}
.contact_card_flex{
    position: relative;
    margin-top: -10vh;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    margin-bottom: 200px;
}
.contact_input{
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 56px;
    text-align: center;
    color: #000000;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 30px;
}
.contact_input_title{
    font-family: Circular Std;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    
}