.password_subtext {
    font-family: Circular Std;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    color: #1F1F1F;
}
@media only screen and (max-width: 600px) {
    .reset_password {
        margin-bottom: 250px;
    }
}